<section id="task">
  <header>
    <h2>{{ name }}'s Tasks!</h2>
    <menu>
      <button (click)="onAddTaskBtnClick()">Add Task</button>
    </menu>
  </header>

  <ul>
    @if (selectedUserTasks.length === 0) {
      <h1>User doesn't have any tasks!</h1>
    } @else {
      @for (dummyTask of selectedUserTasks; track dummyTask.id) {
        <li>
          <!-- <app-task [userTaskObjs]="dummyTask"  (completeClick)="onCompleteClickEvent($event)"></app-task> -->
          <app-task [userTaskObjs]="dummyTask"></app-task>
        </li>
      }
    }
  </ul>

  @if (addingTask) {
    <div class="new-task">
      <app-new-task [userId]="userId" (close)="onCloseAddTask()">
      </app-new-task>
    </div>
  }
</section>

<!-- @if (isAddingTask) {
    <div class="new-task">
      <!-- You can listen to a close/cancel event from the child here later -->
<!-- <app-new-task></app-new-task> -->
<!-- </div> -->
<!-- } -->
