<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->

<app-header />

<main>


   
 <ul id="users">
    @for (user of users; track user.id) {      
      <li>
        <app-user [user]="user"  [selected]="selectedUser?.id===user.id" (select)="onSelectedUserShowTask($event)" />
      </li>
    }
  </ul>

    @if(selectedUser){
     <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id"></app-tasks> 
     <!-- since here we are ising if so TS knows that he will get the value defenately so no need to use > or ternary operator -->
   }@else { 
    <p id="fallback"> Select a User to see their Tasks! </p>
   } 

</main>


<!-- using ngFor and ngIf is older thing and complex so @for and @if was introduced in angular 17 -->
<!-- 
    <ul id="users">
      <li  *ngFor="let user of users" >
        <app-user [user]="user" (select)="onSelectedUserShowTask($event)" />
      </li>
  </ul>

     <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name"></app-tasks>

    <ng-template #fallback>
      <p id="fallback"> Select a User to see their Tasks! </p>
    </ng-template> -->

   <!-- Angular:
       @for(user of users; track user.id)
      is conceptually similar to React:
      users.map(user => ( 
  <User key={user.id} /> 
    ))
      Both use unique ID to:
      identify elements uniquely
      avoid unnecessary DOM recreation
      optimize updates/re-rendering
      So track in Angular is very similar to key in React.  -->
  
  <!-- we cant use anything other than "AtTheRatefor" inside template
  so we can't use any other for loop although we have every loop which are in JS and we also don't use if directly instaed AtTheRateif is used
  neither we can use any map,filter,reduce,find,some,every -->
